<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript Curso</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header>
        <div class="header-layout">
            <div class="logo-course">
                <a href="../index.html"><img src="../img/logo.png" alt="">
                </a>  
            </div>
            <div class="login">
                <input type="search" name="Search" id="Search" placeholder="Buscar Cursos" class="uil uil-airplay">

            </div>
            <div class="social">
                <a href=""><i class="uil uil-facebook-f"></i></a>
                <a href=""><i class="uil uil-twitter"></i></a>
                <a href=""><i class="uil uil-youtube"></i></a>
            </div>
        </div>
    </header>

    <section class="home-layout">
        <div class="info-left">
            <h1>Curso de JavaScript Moderno</h1>
            <p>Aprende el Lenguaje de Programación Web más popular paso a paso con mas de 15 Proyectos  Incluye Proyecto MERN
                Full Stack

            </p>
            <div class="login-2">
                <input type="search" name="Search" id="Search" placeholder="Buscar Cursos" class="uil uil-airplay">

                <a href="">Comenzar</a>

            </div>
        </div>
        <div class="course-logo">
            <img src="../img/3.png" alt="">
        </div>
    </section>

    <section class="temario">
        <div class="left">
            <div class="content">
                <h2>Contenido de Curso</h2>
                <span class="p1"><a href=""><i class="uil uil-play"></i></a>
                    <p>Todos los Proyectos que vamos a construir</p>
                </span>
                <span class="p2"><a href=""><i class="uil uil-play"></i></a>
                    <p>Hola mundo en JavaScript</p>
                </span>
                <span class="p3"><a href=""><i class="uil uil-play"></i></a>
                    <p>La consola javaScript</p>
                </span>
                <span class="p4"><a href=""><i class="uil uil-play"></i></a>
                    <p>ESLint para solucionar errores de codigo</p>
                </span>
                <span class="p5"><a href=""><i class="uil uil-play"></i></a>
                    <p>Arrow Function</p>
                </span>
            </div>

            <div class="more-courses">
                <h2>Otros Cursos</h2>
                <div class="info-courses">
                    <img src="../img/1.png" alt="">
                    <span>
                        <a href="html5.html">
                            <h3>Curso de HTML</h3>
                        </a>
                        <p>Como organizar los elementos de tu sitio web, <br> titulos divisiones, hojas personalizadas y
                            mucho
                            más..</p>
                    </span>
                    <div class="otros">
                        <p><i class="uil uil-dollar-alt"></i>250.000</p>
                        <a href=""><i class="uil uil-heart"></i></a>
                    </div>

                </div>
                <div class="info-courses">
                    <img src="../img/2.png" alt="">
                    <span>
                        <a href="css3.html"><h3>Curso de CSS3</h3></a> 
                        <p>Como dar estilos a los elementos de tu sitio web, <br> medidas EM/REM, modelo de caja y mucho
                            más..</p>
                    </span>
                    <div class="otros">
                        <p><i class="uil uil-dollar-alt"></i>250.000</p>
                        <a href=""><i class="uil uil-heart"></i></a>
                    </div>

                </div>
                <div class="info-courses">
                    <img src="../img/4.png" alt="">
                    <span>
                        <a href="java.html">
                            <h3>Curso de JAVA</h3>
                        </a>
                        <p>Aprende a programar en el lenguaje de <br> programación Java, un curso practico y teorico...
                        </p>
                    </span>
                    <div class="otros">
                        <p><i class="uil uil-dollar-alt"></i>250.000</p>
                        <a href=""><i class="uil uil-heart"></i></a>
                    </div>
                </div>
                <div class="info-courses">
                    <img src="../img/5.png" alt="">
                    <span>
                        <a href="php.html">
                            <h3>Curso de PHP</h3>
                        </a>
                        <p> crear aplicaciones y sitios web desde cero con <br> PHP y MYSQL</p>
                    </span>

                    <div class="otros">
                        <p><i class="uil uil-dollar-alt"></i>250.000</p>
                        <a href=""><i class="uil uil-heart"></i></a>
                    </div>

                </div>

            </div>
        </div>
        <div class="rigth">
            <div class="courses-more">
                <h2><i class="uil uil-dollar-alt"></i> 200.000</h2>
                <a href="">Comprar</a>
                <a href="">Comenzar</a>

                <h2>información</h2>
                <p><i class="uil uil-clock"></i> 10 Horas de Contenido</p>
                <p><i class="uil uil-hourglass"></i> 22 Horas de Practica</p>
            </div>

        </div>
    </section>

    <footer>
        <div class="logo-footer">
            <img src="../img/logo-footerr.png" alt="">
        </div>
        <div class="title-footer">
            <h2><a href="http://www.delloweb.com">www.delloweb.com</a></h2>
        </div>

        <div class="copyright">
            <p>© 2022 by CAGD. All rights reserved</p>
        </div>
    </footer>

</body>

</html>